<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.springbootdemo.mapper.UserMapper">

    <select id="query2" resultType="cn.lanqiao.springbootdemo.vo.UserVO" parameterType="cn.lanqiao.springbootdemo.vo.QueryUserVO">
        select *from ssy_user
        <where>
            <if test="userName !=null">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="id!=0">
                and id = #{id}
            </if>
        </where>

    </select>


</mapper>